
.container{
  height: 100vh;
  width: 100%;
  background-color: #444;
  display:flex;
}

.artSection{
  width: 65%;
  display:flex;
}

.artSection img{
  width: 90%;
  margin: auto;
}

.formSection{
  display:flex;
  flex-direction: column;
  padding: 0 5%;
  width: 35%;
  height: 100%;
  justify-content: center;
  position:relative;
}

.formSection label{
  margin: 10px 0;
  color: #e9e9e9;
  font-size: 18px;
  margin-top: 20px;
}

.formSection input{
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
}

.formSection button{
  margin-top: 40px;
  width: 50%;
  height:35px;
  align-self:center;
  background-color: #39CC14;
  transition: background-color .5s;
}

.formSection  button:hover{
    background-color: #39CC14;

}

/* .formSection:hover{
  background-color: black;
} */

.formSection h1{
  font-size: 30px;
  color: #e9e9e9;
  align-self: center;
}
.formSection h2{
  font-size: 36px;
  color: #e9e9e9;
  align-self: center;
  position:absolute;
  top:10%;
}
.formSection img{
  position:absolute;
  bottom:5%;
  width:350px;
  align-self:center;
}


.divisor{
  width: .2%;
  height:90%;
  align-self:center;
  background-color: #e9e9e9;
}

.version{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
    right: 1em;
    bottom: 1em;
    color: white;
    font-size: 14px;
}

.version span{
  padding: 3px;
}