
.user-info-content-task{
    display: flex;
    /* flex-direction: column; */
    background-color: #343434;
    max-width: 340px;
    color: white;
    padding: 15px;
    box-shadow: 0 0px 20px 2px black;
    border-radius:10px;
    position: absolute;
    height: 150px;
    bottom: 4em;
    left: 6.5em;
    z-index: 10;
}

.user-info-content-task p {
    padding: .3em;
    margin-left: .5em;

}

.user-img-card-task{
    height: 100%;
}

.user-img-card-task img{
    height: 100%;
    max-width: 150px;
}

.user-info-content-task p input{ 
    margin-left: 1em;
}
