.chat {
  position: relative;
  animation: animate 1s ease;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  box-shadow: 0 0px 50px 15px #000000;
}

.chat > div {
}

.headerChat {
  text-align: center;
  background-color: #343434;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerChat div:last-child {
  margin-right: 1.5em;
  cursor: pointer;
}

.headerChat .status {
  width: 15px;
  height: 15px;
  /* background-color: white; */
  border-radius: 50%;
  margin-left: 1em;
}

.mainChat {
  height: 85%;
  overflow: auto;
}

.footerChat {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 0 0 10px 10px;
}

.footerChat > div:first-child {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  
}

.footerChat div > textarea {
  width: 70%;
  /* margin-left: 7%; */
  font-size: 16px;
  padding: 10px;
  color: white;
  /* width: 20px; */
  height: 60%;
  border-radius: 20px;
  background-color: #4b4b4b;
  transition: .7s;
  word-break: break-word;
  resize: none;
  overflow: hidden;
  border: none;
}


/* .footerChat div > input {
  
} */

.footerChat div > textarea:focus {
  height: 100%;
  overflow: auto;
  /* background-color: #4b4b4b; */
}

.footerChat div button {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  padding: 3.2px;
}

/* Send a message style */

.authorRight {
  border-radius: 10px 10px 0 0;
  width: 75%;
  display: block;
  justify-content: flex-start;
  /* text-align:justify; */
  padding: 0;
  background-color: #00a2ff;
  padding: 10px;
  margin-right: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dateTextRight {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  background-color: #00a2ff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-right: 1.3em;
  font-size: 12px;
}

.textRight {
  width: 75%;
  display: block;
  justify-content: flex-start;
  /* text-align:justify; */
  padding: 5px;
  background-color: #00a2ff;
  padding: 10px;
  margin-right: 1em;
}

.boxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: white; */
  width: 100%;
  margin: 10px 0 0.5em 0;
}

/* Receive a message style */

.authorLeft {
  border-radius: 10px 10px 0 0;
  width: 75%;
  display: block;
  justify-content: flex-start;
  padding: 0;
  background-color: #343434;
  padding: 10px;
  margin-left: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dateTextLeft {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 75%;
  background-color: #343434;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-left: 1.3em;
  font-size: 12px;
}

.textLeft {
  width: 75%;
  display: block;
  justify-content: flex-start;
  /* text-align:justify; */
  padding: 5px;
  background-color: #343434;
  padding: 10px;
  margin-left: 1em;
}

.boxLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: white; */
  width: 100%;
  margin: 10px 0 0.5em 0;
}

.infoMessage {
  width: 100%;
  display: flex;
}

#output {
  width: 100%;
  height: 40px;
  /* justify-content: flex-end; */
}

.outputRight {
  /* padding: 10px; */
  /* width: 100%; */
  /* height: 20px; */
}

.clipImage {
  /* position: absolute;
  left:6.2em;
  top: .2em; */
  position: relative;
  right: 1.8em;
  top: 0.5em;
  cursor: pointer;
}

.clipImageRight {
  position: relative;
  right: 1.5em;
  top: 0.3em;
  cursor: pointer;
}

.showImageMessage {
  z-index: 10;
  position: absolute;
  /* right: 10em; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82%;
  background-color: rgba(0, 0, 0, 0.4);
}

.showImageMessage img {
  z-index: 15;
  width: 250px;
  height: 300px;
  margin-bottom: 5em;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#upload-photo-chat {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.upload{
  cursor: pointer;
}

.attachmentIcon{
  animation: animeAttachment 1.1s linear 2s infinite alternate;
}

@keyframes animeAttachment{
  0%   {transform: rotate(0deg);}
  30%  {transform: rotate(20deg);}
  60% {transform: rotate(40deg);}
  80%   {transform: rotate(20deg);}
  100%   {transform: rotate(0deg);}
}