/* aréa do checklist dos tópicos da tarefa */
.taskTopicList{
    width: 50%;
    height: 100%;
    background-color: #2b2b2b;
    border-radius: 0 0 17px 0;
    overflow: auto;
}

.topic{
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    color: white;
    border-bottom: 2px solid #3b6895;
    display: flex;
    justify-content: space-between;
    background-color: #343434;
}

.taskTopicTop button{
    background-color: transparent;
}

.topic .topicLeft input{
    margin-right: 1em;
}

.topic .topicLeft{
    display: flex;
    align-items: center;
}

/* Modal histórico da tarefa */
.modalHistoric{
    height: 99vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}

.modalHistoric > div{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 13em;
    background-color: #2b2b2b;
    border-radius: 10px;

}

.modalHistoricContent{
    
}

.modalHistoric button{
    background-color: transparent;
    color:red;
}

.historicItems{
    padding: 5px;
    margin-bottom: 1em;
}

.historicItems ul{
    padding: 8px;
    margin: 0 auto;
    width: 90%;
    max-height: 300px;
    color: white;
    border-bottom: 2px solid #3b6895;
    display: flex;
    justify-content: space-between;
    background-color: #353535;
}

.historicItems ul li{
    display: block;
    width: 100%;
    flex: wrap;
    margin: 0 1em;
    overflow: auto;
    
}

.listHistoric{
    overflow: auto;
    height: 150px;
}

.modalHistoric .btnCloseHistoric{
    float: right;
    position: relative;
    right: .9em;
}   

/* Modal editar descrição do tópico */
.modalEdit{
    height: 99vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modalEdit > div{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 13em;
    background-color: #2b2b2b;
    border-radius: 10px;
}

.modalEdit button:last-child{

    margin: .4em;
    padding:4px 20px;
}

.modalEdit button:first-child{
    background-color: transparent;
    color:red;
}

.modalEdit textarea{
    display: inline-block;
    clear: both;
}

.modalEdit .btnEditTopic{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.modalEdit .descriptionTopic{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modalEdit .descriptionTopic textarea{
    background-color: #dddd;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}

/* Adicionar tópico */

.taskTopicTop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.topicList{
    height: 270px;
    overflow: auto;
}

.taskTopicTop h1{
    color: white;
    margin: 0 1em 0 0;
}

.addTopic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}


.addTopic label{
    text-shadow: 2px 2px black;
    color: white;
    margin: 0 1em 0 0;
}

.addTopic input{
    font-size: 16px;
    width: 300px;
    color: white;
    padding: 5px;
    background-color: #4b4b4b;
}

.addTopic button{
    background-color: transparent;

    margin-left: 1em;
    padding: 2px;
}

@media only screen and (max-width: 1300px){
    .addTopic{
        padding: 1em .5em;
    }
}