.createTaskArea > ul{
    padding: 10px 20px;
    background-color:rgb(0, 162, 255);
    color:white;
    font-size:18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius:5px;
    text-align: center;
    display: inline-block;
    width:200px;
    z-index: 2;
}

.menuCreateTask{
    display: flex;
    flex-direction: column;
    background-color:#343434;
    width: auto;
    color:black;
    padding:5px;
    box-shadow: 0 5px 10px 0;
    border-radius:2px 2px 5px 5px;
}

.menuCreateTask label{
    padding:.5em 0;
    font-size:16px;
    color:white;
   
}

.menuCreateTask button{

    text-transform: uppercase;
    margin-top: 1em;
    padding: .5em;
    font-size:16px;
    background-color:#00a2ff;
    color:white;
}

.menuCreateTask input, .menuCreateTask select{
    width: 180px;
    padding:.3em .5em;
}

.createTaskArea{
    z-index: 2;
}

.menuPriority li{
    align-items: center;
    width: 180px;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    text-align: left;
    font-size: 16px;
    border-bottom:1px solid #353535;
}

.menuPriority li:first-child{
    text-align:center;
    color:black;
    padding: 5px;
    border-radius:3px;
    background-color: #ffffff;
}

.menuPriority li img{
    margin:0 10px;
}
