.createTaskArea ul{
    padding: 10px 20px;
    background-color:rgb(0, 162, 255);
    color:white;
    font-size:18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius:5px;
    text-align: center;
    display: inline-block;
    width:160px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color:#ccc;
    width: auto;
    color:black;
    padding:5px;
    box-shadow: 0 5px 10px 0;
    border-radius:2px 2px 5px 5px;
}

.menu label{
    padding:.5em 0;
    font-size:16px;
    color:white;
    text-shadow: 1px 1px black;
}

.menu button{

    text-transform: uppercase;
    margin-top: 1em;
    padding: .5em;
    font-size:16px;
    background-color:rgb(105, 163, 18);
    color:white;
}

.menu input{
    width: 150px;
    padding:.3em .5em;
}