.header-area{
    background-color:#000;
    color:white;
    font-size:22px;
    height: 4em;
}

.create-task{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.container-custom{
    height: 4em;
    background-color:#000;
    display: flex;
    margin: 0 auto;
    width: 1300px;
    
}

.right-area{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


