.header-area{
    background-color:#343434;
    color:white;
    font-size:22px;
    height: 4em;
    max-width: 95%;
    margin: 0 auto;
}

.create-task{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.container-custom{
    height: 4em;
    background-color:#343434;
    display: flex;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.right-area{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.filter-vision{
    display: flex;
    justify-content: space-between;
 
}


@media only screen and (max-width:1317px){
    /* .container-custom{
        width:800px;
    } */
}
