.buttonState{
  background-color: rgba(184, 146, 146, 0.867);
  width: 120px;
  cursor: default;;
  padding:0 5px;
  height:25px;
  font-size:14px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.2);
}
.buttonState h2{
    font-weight: 500;
  }

@media(max-width: 900px){
 .buttonState{
  display:none;
 }
}

.menu{
  position: relative;
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 110px;
}
.menu ul{
    border-radius: 3px;
    width: 120%;
    right: 1%;
    display: block;
    position: absolute;
    overflow: auto;
    z-index: 1;
    background-color: #202020;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 3px 10px 0 rgba(0,0,0,.15);
  }







