/* Modal editar descricao */

.menuDescription li textarea{
    width: 100%;
    height: 150px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #c5c5c5;
    color: black;
    padding: .6em;
} 

.menuDescription li:first-child{
    padding: 1em;
}

.menuDescription li:first-child h2{
    width: 276px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: .5em;
    font-size: 20px;
    border-top: 2px solid #00a2ff;
    padding-top: .2em;
}

.menuDescription li:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 1em;
    bottom: .7em;
}
.modalDescription{
    height: 99vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modalDescription > div{
    width: 350px;
    height: 280px;
    border: 1px solid black;
    margin-bottom: 13em;
    background-color: #2b2b2b;
    border-radius: 10px;
}

.descriptionArea h1{
    margin-right: 1em;
    padding-bottom: .4em;
}

.descriptionArea textarea{
    background-color: #343434;
    color: white;
    font-size: 14px;
    width: 300px;
    height: 80px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}