/* Config do modal */
.modal{
    border:2px solid black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.modal .modalContainer{
    margin-top: 5em;
    text-align: center;
    width: 60%;
    color: #000;
    max-height: 40%;
    background-color: #fff;
    border-radius: 20px;
    
}

.modal .modalContainer .modalClose{
    background-color: transparent;
    outline: none;
    width: 32px;
    height: 32px;
    border: none;
    padding: 50px;
}

.modal .modalContainer .modalClose::before,.modal .modalContainer .modalClose::after{
    content: ' ';
    position: absolute;
    display: flex;
    align-items: center;
    top: 12px;

    right: 2em;
    cursor: pointer;
    width: 2.5px;
    height: 24px;
    background-color: red;
}

.modalClose::before{
    transform: rotate(45deg);
}

.modalClose::after{
    transform: rotate(-45deg);
}

/* Modal Header */
.modalHeader{
    position: relative;
    top: 0em;
    border-radius: 17px 17px 0 0;
    width: 100%;
    height: 5em;
    background-color: #2b2b2b;
    border-bottom:3px solid #00a2ff;
}

.modalHeader > h1{
    text-transform: uppercase;
    color:white;
    position: absolute;
    left: 1em;
    top: 2em;
}

/* Modal Conteúdo */
.modalContent{
    height: 100%;
    text-align: center;
    background-color:#ddd;
    display: flex;
    border-radius: 0 0 19px 17px;
    overflow: auto;
}

/* Informações da task | aba*/
.modalContent .taskInfo{
    width: 50%;
    background-color: #4b4b4b;
    height:100%;
    border-radius: 0 0 0 17px;
}

.modalContent .taskInfo{
    padding: 1em;
    color: white;
    text-align: left;
    justify-content: space-evenly;
}

.modalContent .taskInfo > .row{
    content: ' ';
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modalContent .taskInfo .comshopsubArea .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalContent .taskInfo .comshopsubArea{
    margin: 2em 0 0 1em;
}

.modalContent .taskInfo .comshopsubArea .row .col select{
    margin: 1em 0 0 0;
    padding: 5px;
    border-radius: 5px;
    width: 180px;
}

.modalContent .taskInfo .comshopsubArea .row .col:first-child{
    width: 50%;
}

.modalContent .taskInfo .comshopsubArea .row .col:nth-child(2){
    width: 40%;
}

.modalContent .taskInfo > h2{
    height: .5em;
}

/* aréa do checklist dos tópicos da tarefa */
.modalContent .taskTopicList{
    width: 50%;
    height: 100%;
    background-color: rgb(140, 140, 140);
    border-radius: 0 0 17px 0;
}

.menuDept input{
    
    position: relative;
    left: 4em;
}

.rowDept{
    display: inline-block;
    float: right;
    position: relative;
    bottom: 61px;
}

.rowDept p{
    bottom: 10px;
    right: 31px;
    position: relative;
    font-size: 13.30px;
    padding: 5px;
    border-radius: 3px;
    color: black;
    display: inline-block;
   background-color: #ddd;
   cursor: pointer;
}

.menuDept{
    display: flex;
    flex-direction: column;
    width: 120px;
    position: relative;
    left: 155px;
    color: white;
    bottom: 34px;
    border-radius: 3px;
    padding: 3px;
    background-color: #2b2b2b;
    overflow: none;
}

.menuDept li{
    width: 110px;
    display: inline-block;
    border-bottom:2px solid #3b6895 ;
}

/*Descricao*/
.taskDescription{
    display: flex;
    z-index: 5;
}

.taskDescription h1{
   margin-right: 1em;
}

.menuDescription{
    position: absolute;
    background-color: #353535;
    max-height: 300px;
    padding: 10px;
    left: 33em;
    z-index: 5;
    border-radius: 5px;
}


/* botões */

.rowControlDescription{
    display: flex;
}

.btnSaveDescription{
    margin-top: .5em;
    font-size: 16px;
    padding: 5px;
    color: white;
    background-color:#69a312 ;
}

.btnEditDescription{
    margin-top: .5em;
    margin-left: 1em;
    font-size: 16px;
    padding: 5px;
    color: white;
    background-color:#00a2ff ;
}

.btnEdit{
    cursor: pointer;
}

/* Área de usuários vinculados */
.usersVinculated{
    position: relative;
    top: 9em;
    display: flex;
}

.user{
    margin: 0 0 0 1em;
    padding: 10px 12px;
    border-radius: 50%;
    background-color:  #8c8c8c;
    cursor: pointer;
}

.addUser{
    margin: 0 0 0 2em;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #3b6895;
}

.topic{
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    color: white;
    border-bottom: 2px solid #3b6895;
    display: flex;
    justify-content: space-between;
    background-color: #353535;
}

/* Adicionar tópico */

.taskTopicTop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.topicList{
    max-height: 300px;
    overflow: auto;
}

.taskTopicTop h1{
    color: white;
    margin: 0 1em 0 0;
}

.addTopic{
    position: absolute;
    top: 32em;
    left: 64em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTopic label{
    text-shadow: 2px 2px black;
    color: white;
    margin: 0 1em 0 0;
}

.addTopic input{
    font-size: 16px;
    width: 300px;
    color: white;
    padding: 5px;
    background-color: #4b4b4b;
}

.addTopic button{
    background-color: transparent;

    margin-left: 1em;
    padding: 2px;
}