.modal{
    border:2px solid black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

.modal .modalContainer{
    margin-top: 5em;
    text-align: center;
    width: 60%;
    color: #000;
    height: 60%;
    background-color: #fff;
    border-radius: 20px;
}

.modal .modalContainer .modalClose{
    background-color: transparent;
    outline: none;
    width: 32px;
    height: 32px;
    border: none;
    padding: 50px;
}

.modal .modalContainer .modalClose::before,.modal .modalContainer .modalClose::after{
    content: ' ';
    position: absolute;
    display: flex;
    align-items: center;
    top: 89px;

    right: calc(18% + 64px);
    cursor: pointer;
    width: 2.5px;
    height: 24px;
    background-color: red;
}

.modalClose::before{
    transform: rotate(45deg);
}

.modalClose::after{
    transform: rotate(-45deg);
}

.modalContent{
    text-align: center;
    background-color:#ddd;
}