/* Modal confirmAction */


.menuConfirm li textarea{
    width: 100%;
    height: 150px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #c5c5c5;
    color: black;
    padding: .6em;
} 

.menuConfirm li:first-child{
    padding: 1em;
}

.menuConfirm li:first-child h3{
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: .5em;
    font-size: 20px;
    border-top: 2px solid #00a2ff;
    padding-top: .2em;
}

.menuConfirm li:last-child {
    display: flex;
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
    position: relative;
    bottom: .7em;
}

.modalConfirm{
    height: 99vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modalConfirm h2{
    padding-bottom: .5em;
}

.modalConfirm > div{
    width: 350px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 13em;
    background-color: #2b2b2b;
    border-radius: 10px;
    overflow: hidden;
}

