.taskList{
  width:95%;
  min-height: 800px;
  margin: 10px auto;
  max-height:920px;
  overflow-y:auto;
  border-radius:5px;  
}

.taskList::-webkit-scrollbar {
    width: 0px;
}

.taskList::-webkit-scrollbar-thumb {
    background:#2693FF;
}

.taskList .task:nth-child(odd){
    background-color: #444444;
}

@media (max-height: 880px) {
    .taskList{
    max-height:600px
    }

}