.button-refresh {
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  height: 41px;
  display: flex;
  align-items: center;
  color: white;
}

.load-tasks-area {
  margin-right: 20px;
  display: flex;
  align-items: center;
  height: 41px;
}

.loading {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
