.searchContainer{
    width: 88%;
    display: flex;
    align-items: center;
    color:white;
}

.searchArea{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    /* border-bottom: 1px solid #4da6ff; */
}

.searchArea div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.searchArea div input{
    background-color: #4b4b4b;
    padding: 3px;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 5px;

}

.clearSearch{
    position: relative;
    right: 1.1em;
    top: 0em;
    color: #ccc;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width:1366px){
    .searchArea div{
        margin: 1.5em;
    }

    .clearSearch{
        right: 2.8em;
    }
}

@media screen and (max-width:1536px){
    .searchArea div{
        margin: 1.1em;
    }

    .clearSearch{
        right: 2.3em;
    }
}


